
@import 'base/mixin';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

*{
    box-sizing: border-box;
    
}



.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgba(36, 48, 60, 0.3);
    color: #ffffff;
    text-decoration: underline;
}

.header {
    width: 100%;
    margin: auto;
}


nav.fixed-top {
    background-color: #becceb;
    width: 100%;
   div{
       width: 1200px;
   }
}



/* Variables titulo-h1 */

$display: flex;
$padding: 100px !important;
$transform: skewX(20deg);
$color:darkred;
$text-align :left;
$text-transform:uppercase;
$font-family-cursive:cursive;
$font-family-garamond: 'EB Garamond', serif;
$font-size:90px;
$height:80px;

h1{
    padding: $padding;
    color: $color;
    text-align: $text-align;
    font-size: $font-size;
    text-transform: $text-transform;
    font-family: $font-family-cursive;
    height: $height;
}

/* Variables titulo-h2 */

$font-size: 50px;
$margin: 5px 130px 150px;
$display: flex;
$justify-content: left;
$padding: 0 50px;
$transform: skewX(20deg);

h2 {
    font-size: $font-size;
    margin: $margin;
    font-family: $font-family-cursive;
    display: $display;
    justify-content: $justify-content;
    padding: $padding;
    transform: $transform;
    
}



.carrusel {
    opacity: 95%;
}


/* Variables parrrafo */

$display:flex;
$padding-bottom: 200px; 
$font-size: 50px;
$font-style: oblique ;
$background-color: #808080 ;    
$padding: 20px 10px 10px ;
$border-radius:5px;

.parrafo {
    display:$display;
    padding-bottom: $padding-bottom; 
    font-size: $font-size;
    font-family: $font-family-garamond ;
    font-style: $font-style ;
    background-color: $background-color;    
    padding:  $padding;
    border-radius: $border-radius;
}

.contenedor-main{
    width: 100%;
    margin: auto;
}
/* Variables section-2 */

$background-size: contain;
$display: flex;
$justify-content: center;
$background-color:  #E1E5EA;
$padding-bottom: 50px;

.section-2{
    background-size: $background-size;
    display: $display;
    justify-content: $justify-content;
    background-color: $background-color;
    padding-bottom: $padding-bottom;
}
/* Variabes frase-1 */

$display: flex;
$justify-content: left;
$font-size: 40px;
$font-weight: bold;
$margin: 50px;
$color: #B31B1B;


.frase-1{
    display: $display;
    justify-content: $justify-content;
    font-size: $font-size;
    font-weight: $font-weight;
    margin: $margin;
    color: $color;
    font-family: $font-family-cursive;
}

/* Variables frase-2 */
$display: flex;
$margin: 50px;
$font-size: 25px;
$color: black;

.frase-2{
    display: $display;
    margin: $margin;
    font-size: $font-size;
    font-family: $font-family-cursive;
    color:$color;
}

/* Variables iframe */


$height:70%;
$justify-content: center;
$display : flex;
$margin-top: 100px; 

iframe{
    
    height:$height;
    justify-content: $justify-content;
    display : $display;
    margin-top: $margin-top; 
    margin-left: 40px;
    
}

/* Variables sc-3 resultados */

$display: flex;
$justify-items: right;
$padding: 80px 70px;
$color: #343f56;
$font-size: 45px;

.row>* {
    padding-left: 0px;
    padding-right: 0px;
}


.resultados{
    
    display: $display;
    justify-items: $justify-items;
    padding: $padding;
    color: $color;
    font-size: $font-size;
    font-family: $font-family-cursive;
    flex-wrap: wrap;
}

/*Variables yoga*/

$height: auto;
$vertical-align: top;

.yoga {
    height: auto;
    opacity: 80%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}





/* Variables section-4 */

$padding-bottom: 200px;
$display: flex;
$background-color: #A7BBC7;
$width: auto;
$height: 650px;

.section-4 {
    display: $display;
    background-color: $background-color;
    width: $width;
    height: $height;

    article{
        margin: 30px;
    }
}




/* Variables formulario */
$display: flex;

.registro{
    padding: 20px;
}



.form-register{
    background-color: rgb(36, 48, 60);
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;  
    width: 50%;
}

.form-register {
    h4 {font-size: 22px;
        margin-bottom: 20px;
    }
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    
    
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px; 
    line-height: 40px;   
    
}



.form-register a{
    color: white;
    text-decoration: none;  
}


.form-register
a:hover{
    color: white;
    text-decoration: underline;
}


.form-register{
    .botons{
        width: 100%;
        background-color:#1f53c5 ;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
}

/* testimonios */
.testimonios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 50%;
    curs
    
}

.list-group{
    display: flex;
    flex-wrap: wrap;
    ;
}





/* Section-5-grid images */


.container-img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    background-color: #DDDDDD;
    border:rounded-top;
    background-color: #24303c;
    
}

.galeria-image{
    height: 300px;
    object-fit: cover;
    flex-wrap: wrap;
    opacity: 85%;
    
}

.list-group-item{
    display: flex;
    flex-wrap: wrap;
}



.covid{
    color: white;
    position: float;
    float: right;
    font-size: 35px;
    padding-left: 10px;
    flex-wrap: wrap;
    font-family:$font-family-cursive;
    font-weight: bolder;
    
}

/* Variables section-6  */
.challenges{
    margin: 50px 0px;
    
}

.desafios-contenedor{
    margin-right: 0px;
    margin-left: 0px;

}

.desafios {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: $font-family-garamond;
    font-weight: bold;
    
    
    
}

/* Variables section-7 */
$margin:auto;
$background-color:  #687980;

.section-7{
    background-color: $background-color;
    margin: $margin;
    
    
}

.encabezado{ text-transform:uppercase;
    font-weight: bold;
}

.card-text{
    font-style: oblique;
    
}

.card-challenges {
    color: #0061A8;
    font-weight: bold;
}

.register-card {
    color: #810000;
}

.register-card:hover{
    color:rgba(36, 48, 60, 0.5);
}

/*Variables footer-iconos-redes*/

.contenedor-footer{
    width: 100%;
    margin: auto;
}



a.social-networks {
    color: #000000;
    font-size: 40px;
    margin-right: 20px;
}

a.social-networks:hover {
    color: red;
    transform: rotate(60deg);
}

.logos {
    width: 100%;
    justify-content: space-around;
    background-color: #D1D9D9;
    display: flex;
}


.iconos-redes{
    width: 50px;
    justify-content: space-around;
    margin: 30px;
    
}





/*Variables whathsapp*/
$position: float;
$width:60px;

.wpp{
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.icono-wpp{
    position: $position;
    float:right; 
    width: $width;
    margin: 5px 30px;
    
    
    
}

/*media querties*/

@media only screen and (min-width:768px) {
 nav, main{
    width: 1200px;
    flex-wrap: wrap;
    margin: auto;
}
}



@media only screen and (max-width:400px){
    
  
    
    .contenedor-main {   
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
        padding: 0px;
        
        
        .frase-1{
            margin:103px;
            
        }

        .frase-2{
            margin: 108px;
        }
        
        .yoga{
            display: none;
        }

        .resultados{
            padding: 0px;
        }
        
        .testimonios{
            display: none;
        }
        
        .form-register {
            width: 100%;
        }
        
    }
}





























