/*mixin-form*/
/*mixin-boton4sc*/
/*posicion*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: rgba(36, 48, 60, 0.3);
  color: #ffffff;
  text-decoration: underline;
}

.header {
  width: 100%;
  margin: auto;
}

nav.fixed-top {
  background-color: #becceb;
  width: 100%;
}
nav.fixed-top div {
  width: 1200px;
}

/* Variables titulo-h1 */
h1 {
  padding: 100px !important;
  color: darkred;
  text-align: left;
  font-size: 90px;
  text-transform: uppercase;
  font-family: cursive;
  height: 80px;
}

/* Variables titulo-h2 */
h2 {
  font-size: 50px;
  margin: 0 200px;
  font-family: cursive;
  display: flex;
  justify-content: left;
  transform: skewX(20deg);
}

.body {
  margin: 0;
}

.carrusel {
  opacity: 95%;
}

/* Variables parrrafo */
.parrafo {
  display: flex;
  padding-bottom: 200px;
  font-size: 50px;
  font-family: "EB Garamond", serif;
  font-style: oblique;
  background-color: #808080;
  padding: 20px 10px 10px;
  border-radius: 5px;
}

.contenedor-main {
  width: 100%;
  margin: auto;
}

/* Variables section-2 */
.section-2 {
  background-size: contain;
  display: flex;
  justify-content: center;
  background-color: #E1E5EA;
  padding-bottom: 50px;
}

/* Variabes frase-1 */
.frase-1 {
  display: flex;
  justify-content: left;
  font-size: 40px;
  font-weight: bold;
  margin: 50px;
  color: #B31B1B;
  font-family: cursive;
}

/* Variables frase-2 */
.frase-2 {
  display: flex;
  margin: 50px;
  font-size: 25px;
  font-family: cursive;
  color: black;
}

/* Variables iframe */
iframe {
  height: 70%;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-left: 40px;
}

/* Variables sc-3 resultados */
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}

.resultados {
  display: flex;
  justify-items: right;
  padding: 80px 70px;
  color: #343f56;
  font-size: 45px;
  font-family: cursive;
  flex-wrap: wrap;
}

/*Variables yoga*/
.yoga {
  height: auto;
  opacity: 80%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Variables section-4 */
.section-4 {
  display: flex;
  background-color: #A7BBC7;
  width: auto;
  height: 650px;
}
.section-4 article {
  margin: 30px;
}

/* Variables formulario */
.registro {
  padding: 20px;
}

.form-register {
  background-color: #24303c;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
  width: 50%;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background-color: #24303c;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background-color: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* testimonios */
.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 50%;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
}

/* Section-5-grid images */
.container-img {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  background-color: #DDDDDD;
  background-color: #24303c;
}

.galeria-image {
  height: 300px;
  object-fit: cover;
  flex-wrap: wrap;
  opacity: 85%;
}

.list-group-item {
  display: flex;
  flex-wrap: wrap;
}

.covid {
  color: white;
  position: float;
  float: right;
  font-size: 35px;
  padding-left: 10px;
  flex-wrap: wrap;
  font-family: cursive;
  font-weight: bolder;
}

/* Variables section-6  */
.challenges {
  margin: 50px 0px;
}

.desafios {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

/* Variables section-7 */
.section-7 {
  background-color: #687980;
  margin: auto;
}

.encabezado {
  text-transform: uppercase;
  font-weight: bold;
  color: #CF0000;
}

.card-img {
  font-style: oblique;
}

.card-challenges {
  color: #0061A8;
  font-weight: bold;
}

.register-card {
  color: #810000;
}

.card-text {
  font-family: cursive;
}

.register-card:hover {
  color: rgba(36, 48, 60, 0.5);
}

.encabezado {
  color: #CF0000;
  font-size: 20px;
}

/*Variables footer-iconos-redes*/
.contenedor-footer {
  width: 100%;
  margin: auto;
}

a.social-networks {
  color: #000000;
  font-size: 40px;
  margin-right: 20px;
}

a.social-networks:hover {
  color: red;
  transform: rotate(60deg);
}

.logos {
  width: 100%;
  justify-content: space-around;
  background-color: #D1D9D9;
  display: flex;
}

.iconos-redes {
  width: 50px;
  justify-content: space-around;
  margin: 30px;
}

/*Variables whathsapp*/
.wpp {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.icono-wpp {
  position: float;
  float: right;
  width: 60px;
  margin: 5px 30px;
}

/*media querties*/
@media only screen and (min-width: 768px) {
  nav, main {
    width: 1200px;
    flex-wrap: wrap;
    margin: auto;
  }
}
@media only screen and (max-width: 400px) {
  .contenedor-main {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .yoga {
    display: none;
  }

  .resultados {
    padding: 0px;
  }

  .testimonios {
    display: none;
  }

  .form-register {
    width: 100%;
  }

  .desafios-contenedor {
    flex-direction: column;
  }

  iframe {
    width: 348px;
  }
}

/*# sourceMappingURL=style.css.map */
